@media screen and (max-width: 1024px) {
  header.main-header.text-center{
    display: none;
  }
  .main-nav{
    display: none;
  }
  .mobile-nav{
    // display: none;
  }
  #index .overview .content, #users .overview .content, #slack .overview .content{
    margin-left: 0;
    padding-top: 20px;
  }
  .length{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  div.col-sm-6.circle {
    display: none;
  }
   #users .overview .content .chart{
     width: 300px;
     height: 300px;
   }
}
@media screen and (min-width: 1024px){
  .mobile-header{
    display: none;
  }
}
