#users{
  padding: 0;

  .overview{
    color: white;

    nav, .content{
      height: 100%;
    }
    nav{
      @extend %nav;
    }
    .content{
      margin-left: 120px;
      padding: 0;

      .main-header{
        @extend %main-header;
      }

      .panel{
        @extend %panel;
      }
      .thumbnail{
        @extend %thumbnail;
      }
    }
    .pad{
      padding-top: 30px;
    }
    .desc{
      @extend %desc;
    }
  }
}
